venv/
__pycache__/
Simulation_results/
drive_cycles/
individual_plots/
Testing_backend/
simulation_results.csv
simulation_plot.png
simulation_results.h5
BatteryData_SOH1.json
.env
simulations/
*.pyc

keeps/
uploads/

continuations/
temp_extract/